<app-reactive-form (formSubmitted)="ngOnInit()"></app-reactive-form>

<section id="contacto" class="contact-section">
  <div class="contact-container">
    <h2>Contacto</h2>
    <p>¡No dudes en ponerte en contacto con nosotros! Aquí te dejamos nuestras vías de comunicación:</p>

    <div class="contact-info">

      <a href="tel:+542494602460" class="contact-item">
        <i class="fas fa-phone-alt"></i>
        <h3>Teléfono</h3>
        <p>¡Llamanos para más info o reservas!</p>
      </a>

      <a href="https://www.instagram.com/nt.burgers/" target="_blank" class="contact-item">
        <i class="fab fa-instagram"></i>
        <h3>Instagram</h3>
        <p>Seguinos para novedades</p>
      </a>

      <a href="https://www.google.com.ar/maps/place/Ayacucho,+Provincia+de+Buenos+Aires/@-37.1491441,-58.5061123,14z/data=!3m1!4b1!4m6!3m5!1s0x959098c2e0cc933f:0xa9128a41eb891a0b!8m2!3d-37.1502686!4d-58.4829712!16s%2Fm%2F03hmpjn?hl=es&entry=ttu&g_ep=EgoyMDI1MDcxMy4wIKXMDSoASAFQAw%3D%3D"
        target="_blank" class="contact-item">
        <i class="fas fa-map-marker-alt"></i>
        <h3>Dirección</h3>
        <p>Ayacucho, Buenos Aires</p>
      </a>

      <a href="https://wa.me/2494602460?text=Hola! quisiera realizar un pedido!" target="_blank" class="contact-item">
        <i class="fab fa-whatsapp"></i>
        <h3>WhatsApp</h3>
        <p>¡Escribinos directo por WhatsApp para hacer tu pedido!</p>
      </a>

    </div>
  </div>
</section>