<app-cart #cart></app-cart>

<div class="items-section">
  <div class="items-container">
    <div
      class="item-card"
      *ngFor="let burger of burgers$ | async"
      [ngClass]="{'clearance': burger.clearance}"
    >
      <img [src]="burger.image" [alt]="burger.name" />

      <div class="item-card-content">
        <h3>{{ burger.name }}</h3>
        <p class="price">Precio: {{ burger.price | currency }}</p>
        <p class="description">{{ burger.description }}</p>

        <p class="category">
          Stock: 
          <span *ngIf="burger.stock === 0">Sin Stock</span>
          <span *ngIf="burger.stock > 0">{{ burger.stock }}</span>
        </p>

        <div class="burger-actions" *ngIf="burger.stock > 0">
          <app-input-number
            [(quantity)]="burger.quantity"
            [max]="burger.stock"
            (maxReached)="maxReached($event)"
          ></app-input-number>
          <button (click)="addToCart(burger)">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>
