<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{burger.image}}" alt="{{burger.name}}"/></td>
            <td>{{burger.name}}</td>
            <td>{{burger.description}}</td>
            <td>{{burger.price}}</td>
            <td>{{burger.stock}}</td>
        </tr>
        <tr>
            <td>Cheese</td>
            <td>Hamburguesa con cheddar</td>
            <td>7500</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Hatton</td>
            <td>Hamburguesa con cheddar</td>
            <td>8500</td>
            <td>5</td>
        </tr>
    </tbody>
</table>
