<header id="inicio">
  <img id="logo-header" src="assets/img/logo.jpeg" alt="logo nt burgers">
  <div id="btn-menu">
    <img src="assets/img/icono-menu.jpg" alt="">
  </div>
</header>

<nav>
  <ul>
    <li><a [routerLink]="['/']">Inicio</a></li>
    <li><a [routerLink]="['/burgers']">Hamburguesas</a></li>
    <li><a [routerLink]="['/about']">Contacto</a></li>
    <li>
      <a (click)="cart.toggleCart()">Carrito</a>
    </li>
  </ul>
</nav>
<app-cart #cart></app-cart>
<router-outlet></router-outlet>
<footer>
  © NT Burgers 2025
</footer>